<!doctype html>
<html lang="pt-br">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <title>{% block title %}Projeto Symfony 3.4!{% endblock %}</title>
    </head>
    <body>
        <div class="container">
            {% block menu %}
                <div class="text-center">
                    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
                        <header class="masthead mb-auto">
                            <div class="inner">
                                <h3 class="masthead-brand">Symfony 3.4</h3>
                                <nav class="nav nav-masthead justify-content-center">
                                    <a class="nav-link active" href="/pessoa">Home</a>
                                    <a class="nav-link" href="/pessoa/lista">Consulta</a>
                                    <a class="nav-link" href="https://github.com/leonardofaria00/symfony-3.4.git">Git</a>
                                </nav>
                            </div>
                        </header>
                    </div>
                </div>
            {% endblock %}
        {% block body %}{% endblock %}

        <footer class="fixed-bottom">
            <div class="float-right">
                {% block footer %}
                    <p>  &copy; Copyright 2019 by <a href="https://github.com/leonardofaria00/symfony-3.4" target="_blank">Leonardo F Santos</a>.<p>
                    {% endblock %}
            </div>
        </footer>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
</body>
</html>