{% extends 'base.html.twig' %}

{% block body %}
    <h1>Members</h1>

    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Login</th>
                <th scope="col">Senha</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for p in pessoa %}
                <tr>
                    <th scope="row">{{p.id}}</th>
                    <td>{{p.nome}}</td>
                    <td>{{p.login}}</td>
                    <td>{{p.senha}}</td>
                    <td>
                        <a class="btn" href="#" title="Detalhes"> 
                            <i class="fas fa-search"></i>
                        </a>
                        <a class="btn" href="#" title="Alterar"> 
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                        <a class="btn" href="#" title="Excluir"> 
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a type="button" class="btn btn-sm btn-primary" href="/pessoa/add">Cadastrar</a>

{% endblock %}