{% extends 'base.html.twig' %}

{% block body %}
    <h1>Members</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Login</th>
                <th scope="col">Senha</th>
            </tr>
        </thead>
        <tbody>
            {% for p in pessoa %}
                <tr>
                    <th scope="row">{{p.id}}</th>
                    <td>{{p.nome}}</td>
                    <td>{{p.login}}</td>
                    <td>{{p.senha}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <form method="GET" action="/pessoa/add">
        <br>
        <button type="button" class="btn btn-primary">Cadastrar</button>
    </form>
{% endblock %}