{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de Relatório de Pessoas</h1>

    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Identidade</th>
                <th scope="col">Login</th>
                <th scope="col">Senha</th>
            </tr>
        </thead>
{#        <tbody></tbody>#}
    </table>
{% endblock %}
