{% extends 'base.html.twig' %}
{% block body %}
    <div class='alert alert-success' role='alert'>
        <h4 class='alert-heading'>Informações relavantes!</h4>
        <p>Versão: 1.0</p>
        <p>Build: 1.0</p>
        <p>Data: 19/02/2019</p>
        <hr>
        <p class='mb-0'>Learn everything that happens in the project here!</p>
    </div>
{% endblock %}